//-
	About us page markup for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.com/'
	)

block header
	+header('red-header')

block main-content
	.inner-page-wrapper.about-us-page-wrapper
		.intro-block.red-intro-block
			.container
				h1 Про компанию
		.about-us-content
			.first-block
				.container
					.flex-block
						.flex-left
							p
								b UAPAY - это национальный платежный сервис, предоставляющий финансово-технические решения для любого типа онлайн бизнеса. Наша команда професионалов поможет вам вам автоматизировать платежи и ускорить бизнес-процессы.
							p Компания, основанная в 2013 году, предлагает выгодные тарифы и гарантию надежности. Мы заботимся о безопасности и скорости онлайн расчетов, поэтому стараемся применять новейшие технологии которые обеспечивают требуемый уровень проведения платежей.
							p Высокий уровень сервиса, прозрачность и надежность транзакций, оперативная и квалифицированная работа службы поддержки, – все это позволило завоевать доверие наших клиентов и закрепить за собой имидж честной и стабильной компании.
						.flex-right
							img(src="./images/about-us/svg/1.svg", alt="Image", style="width: 340px")
			.second-block
				.container
					.flex-block
			.third-block
				.container
					.flex-block
			.fourth-block
				.container
					.flex-block
						.flex-left
							img(src="./images/about-us/svg/2.svg", alt="Image")
						.flex-right
							h4 Партнерам
							p Мы всегда открыты к новым сотрудничествам и предоставлению качественного сервиса широкому спектру клиентов. Поэтому, для всех кто связан с онлайн бизнесом, наша программа партнерская программа даёт возможность зарабатывать на рекомендациях и подключенных клиентах.
							include includes/components/_partnership-btn.pug
					h5 О нас пишут
					.media-block
						a.media-item(href="javascript:void(0);")
							img(src="./images/about-us/media/ain.png", alt="Logo")
						a.media-item(href="javascript:void(0);")
							img(src="./images/about-us/media/minfin.png", alt="Logo")
						a.media-item(href="javascript:void(0);")
							img(src="./images/about-us/media/mind.png", alt="Logo")
						a.media-item(href="javascript:void(0);")
							img(src="./images/about-us/media/interfax.png", alt="Logo")
						