//-
	About us page markup for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.com/'
	)

block header
	+header('red-header')

block main-content
	.inner-page-wrapper.about-us-page
		.intro-block.red-intro-block
			.container
				h1 Про нас
		.about-us-content
			.first-block
				.container.main-container
					.flex-block
						.flex-left
							p
								b UAPAY - это национальный платежный сервис, предоставляющий финансово-технические решения для любого типа онлайн бизнеса. Наша команда професионалов поможет вам вам автоматизировать платежи и ускорить бизнес-процессы.
							p Компания, основанная в 2013 году, предлагает выгодные тарифы и гарантию надежности. Мы заботимся о безопасности и скорости онлайн расчетов, поэтому стараемся применять новейшие технологии которые обеспечивают требуемый уровень проведения платежей.
							p Высокий уровень сервиса, прозрачность и надежность транзакций, оперативная и квалифицированная работа службы поддержки, – все это позволило завоевать доверие наших клиентов и закрепить за собой имидж честной и стабильной компании.
						.flex-right
							img(src="./images/svg/uapay.svg", alt="Image", style="width: 340px")
			.second-block
				.container.main-container
					.flex-block
						.flex-item
							figure
								img(src="./images/about-us/pci-dss.png", alt="Image")
							p.title PCI DSS Level 1
							p.desc 100% відповідність стандартам безпеки платежів
						.flex-item
							figure
								img(src="./images/about-us/gdpr.png", alt="Image")
							p.title GDPR Compliant
							p.desc Робота з персональними даними чітко регламентована
						.flex-item
							figure
								img(src="./images/about-us/ukraine.png", alt="Image")
							p.title ВПС
							p.desc Статус внутрішньодержавної платіжної системи
						.flex-item
							figure
								img(src="./images/about-us/paperless.png", alt="Image")
							p.title Paperless
							p.desc Максимальна підтримка електронного документообігу
						.flex-item
							figure
								img(src="./images/about-us/structure.png", alt="Image")
							p.title ОПІ
							p.desc Ліцензія оператора платіжної інфраструктури
						.flex-item
							figure
								img(src="./images/about-us/licence.png", alt="Image")
							p.title Ліцензія НБУ
							p.desc Переказ коштів у національній валюті, без без відкриття рахунків
			.third-block
				.container.main-container
					h4 Нам довіряють
					.flex-block
						.flex-item
							include includes/svg/about-us/_1.pug
						.flex-item
							include includes/svg/about-us/_2.pug
						.flex-item
							include includes/svg/about-us/_3.pug
						.flex-item
							include includes/svg/about-us/_4.pug
						.flex-item
							include includes/svg/about-us/_5.pug
						.flex-item
							include includes/svg/about-us/_6.pug
						.flex-item
							include includes/svg/about-us/_7.pug
						.flex-item
							include includes/svg/about-us/_8.pug
						.flex-item
							include includes/svg/about-us/_14.pug
						.flex-item
							include includes/svg/about-us/_10.pug
						.flex-item
							include includes/svg/about-us/_9.pug
						.flex-item
							include includes/svg/about-us/_13.pug
						.flex-item
							include includes/svg/about-us/_12.pug
						.flex-item
							include includes/svg/about-us/_11.pug
			.fourth-block
				.container.main-container
					.flex-block
						.flex-left
							img(src="./images/svg/percent.svg", alt="Image")
						.flex-right
							h4 Партнерам
							p Ми завжди відкриті до співпраці з новими партнерами і до надання якісного сервісу широкому спектру клієнтів. Тому для всіх, хто пов'язаний з онлайн-бізнесом, наша партнерська програма дає можливість заробляти на рекомендаціях і підключених клієнтах.
							include includes/components/_partnership-btn.pug
					h5 Про нас пишуть
					.media-block
						a.media-item(href="javascript:void(0);", target="_blank")
							img(src="./images/about-us/media/ain.png", alt="Logo")
						a.media-item(href="javascript:void(0);", target="_blank")
							img(src="./images/about-us/media/minfin.png", alt="Logo")
						a.media-item(href="javascript:void(0);", target="_blank")
							img(src="./images/about-us/media/mind.png", alt="Logo")
						a.media-item(href="javascript:void(0);", target="_blank")
							img(src="./images/about-us/media/interfax.png", alt="Logo")