//-
	Home page layout for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://website.com/'
	)

block main-content
	.inner-page-wrapper
		p Consectetur adipiscing elit. Nulla ut auctor orci, congue suscipit velit. Aliquam molestie laoreet egestas. Sed tristique lorem ac tellus mattis fermentum. Phasellus vestibulum sem id bibendum iaculis. Sed non ligula ut quam varius gravida. Nulla at pellentesque sapien, vel mattis ipsum. Praesent condimentum varius sem, in tristique magna finibus sed. Cras porta at elit eget rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam tempor efficitur enim ut condimentum. Aenean molestie at nunc vitae mattis. In elementum accumsan sapien nec tristique. Vestibulum vitae fermentum enim. Sed congue lacus eu enim mattis, id egestas quam imperdiet. Pellentesque sed ultricies orci.
		ul
			li Vivamus sed dictum turpis, in aliquam sem.
			li Pellentesque habitant morbi tristique senectus.
			li Et netus et malesuada fames ac turpis egestas.
			li Duis leo sapien, pulvinar eget urna in, suscipit luctus enim.
		p Cras at nunc ac elit congue mattis. Maecenas hendrerit faucibus turpis id tempor. Quisque molestie ipsum id ipsum finibus rutrum. Vestibulum commodo risus sem, at suscipit velit posuere ac. Nam consectetur magna ut interdum hendrerit. Vestibulum urna massa, ultrices condimentum euismod id, venenatis non elit.
		ol
			li Nulla fringilla tempus.
			li Pellentesque consectetur quam dui.
			li Vitae ornare lacus luctus ac. 
			li In euismod enim sed orci tristique, vitae porta erat blandit.
		p Integer cursus erat ac felis elementum, ac congue nisl porta. Nunc sit amet erat sed nunc sodales congue. Duis a facilisis risus, et elementum lorem. Fusce porttitor dignissim massa eget rutrum. Aliquam erat lacus, lacinia et magna vitae, sollicitudin gravida lorem. Integer tempor est non ipsum mattis efficitur. Integer velit arcu, porta nec nibh in, dapibus scelerisque augue. Aliquam aliquam sodales tortor vel bibendum.
		.table-responsive
			table
				caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cum? Molestiae sint in voluptatum, modi dolor corrupti suscipit consequatur deleniti, maxime necessitatibus unde vel exercitationem beatae aut. Maiores, facere excepturi?
				thead
					tr
						th Заголовок
						th Заголовок
						th Заголовок
						th Заголовок
						th Заголовок
				tbody
					tr
						td Контент
						td Контент
						td Контент
						td Контент
						td Контент
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima molestias mollitia delectus veniam repudiandae, reiciendis ducimus id praesentium fuga! Atque praesentium error unde sapiente excepturi amet quos maiores ea. Numquam?