//-
	Home page layout for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://website.com/'
	)

block main-content
	.inner-page-wrapper.legal-page-wrapper
		.legal-page-intro
			.container
				p Інформація про фінансову установу.
					br
					| ТОВ «АЙГАМА»
		.legal-page-content
			.container
				.flex-wrapper
					.flex-left
						.content-line
							p
								b Повне найменування юридичної особи
						.content-line
							p
								b Ідентифікаційний код юридичної особи
						.content-line
							p
								b Місцезнаходження юридичної особи
						.content-line
							p
								b Оператор платіжної інфраструктури
					.flex-right
						.content-line
							p ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «АЙГАМА» (ТОВ «АЙГАМА»)
						.content-line
							p 35624403
						.content-line
							p 04205, м. Київ, пр. Оболонський, буд. 35
						.content-line
							p У відповідності до Повідомлення Національного банку України від 19.12.2016р. за № 57-0009/102595 ТОВ «АЙГАМА» внесено до Реєстру платіжних систем, учасників платіжних систем та операторів послуг платіжної інфраструктури у якості Оператора послуг платіжної інфраструктури, що має право надавати наступні послуги:
							ul
								li Кліринг;
								li Процесинг;
								li Операційні, інформаційні та інші технологічні функції щодо переказу коштів.
							p ТОВ «АЙГАМА» у якості Оператора послуг платіжної інфраструктури надає вищевказані послуги на користь наступних юридичних осіб: ТОВ «ФК ЮАПЕЙ» (код за ЄДРПОУ 39407959), що є Платіжною організацією Внутрішньодержавної платіжної системи переказу коштів «ЮАПЕЙ».