//-
	Legal info page markup for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.com/'
	)

block header
	+header('black-header')

block main-content
	.inner-page-wrapper.legal-page
		.intro-block.black-intro-block
			.container
				p Правова інформація
		.legal-page-content.black-page-content
			.container.main-container
				a.special-link(href="terms-of-use.html")
					span Умови надання сервісу
					include includes/svg/_arrow-right.pug
				a.special-link(href="transfer-supply-conditions.html")
					span Умови надання переказів
					include includes/svg/_arrow-right.pug
				a.special-link(href="info-uapay.html")
					span Інформація про фінансову установу. ТОВ «ФК ЮАПЕЙ»
					include includes/svg/_arrow-right.pug
				a.special-link(href="financial-statements.html")
					span Фінансова звітність. ТОВ «ФК ЮАПЕЙ»
					include includes/svg/_arrow-right.pug
				a.special-link(href="info-aihama.html")
					span Інформація про фінансову установу. ТОВ «АЙГАМА»
					include includes/svg/_arrow-right.pug
				a.special-link(href="privacy-policy.html")
					span EU / EEA Політика конфіденційності
					include includes/svg/_arrow-right.pug
				a.special-link(href="website-modus-operandi.html")
					span Порядок роботи з веб-сайтами
					include includes/svg/_arrow-right.pug
				a.special-link(href="cookies-policy.html")
					span Політика роботи з cookies
					include includes/svg/_arrow-right.pug