//-
	Home page layout for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.com/'
	)

block main-content
	.inner-page-wrapper.news-page-wrapper
		.news-page-intro
			.container
				h1 Lorem ipsum dolor sit amet consectetur adipisicing elit
		.news-page-content
			.container
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum itaque ipsa laboriosam laudantium voluptate necessitatibus culpa iste molestiae fugit veritatis voluptatem temporibus et quibusdam quia sit quam, in sequi accusantium.
				h6 Lorem ipsum dolor, sit amet consectetur adipisicing elit
				p Vero optio velit porro ipsam rerum illum adipisci fugit reiciendis aliquam voluptatum corporis doloremque nihil veniam, amet suscipit.
				p Quas impedit numquam iusto:
				ul
					li lorem ipsum, dolor sit;
					li amet consectetur adipisicing elit;
					li suscipit, maiores at;
					li quidem, voluptas libero praesentium;
					li ut dolor saepe, ea voluptates porro.
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, tempore. Odit nobis cumque iusto distinctio animi earum eos repellat, ex voluptatem vel ea fugiat ipsa beatae, praesentium velit quae iure.
				h6 Lorem ipsum dolor sit amet consectetur adipisicing elit
				p Quis error aut omnis in accusantium neque mollitia, quia nesciunt, dolore ullam sapiente inventore asperiores odit explicabo provident nam.
				p Maiores, perspiciatis fugiat:
				ol
					li lorem ipsum dolor sit amet;
					li consectetur adipisicing elit;
					li exercitationem perferendis;
					li neque nihil accusantium libero;
					li illo atque corrupti soluta mollitia.
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, magnam facere, nam aut ipsam iste aliquid reprehenderit doloremque sed illo dolorem veritatis? Voluptatibus eius nam temporibus error sunt minus inventore.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores impedit repudiandae explicabo iste distinctio sed sequi, perspiciatis nihil atque dolores incidunt itaque est iusto velit enim odio eligendi quam. Nam.