//-
	UaPay checkout page markup for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.com/'
	)

block header
	+header('red-header')

block main-content
	.inner-page-wrapper.uapay-checkout-page
		.intro-block.red-intro-block
			.container
				h1 UAPAY Checkout
		.uapay-checkout-content
			.first-block
				.container
					.flex-block
						.flex-left
							p UAPAY Checkout добавляет вашему онлайн бизнесу дополнительную ценность благодаря комплексу решений, направленных на автоматизацию платежей за товары и услуги с помощью банковских карт, а также их логистики вашим покупателям, по Украине.
							p В основе UAPAY Checkout лежат сложные технологические и бизнес процессы, которые построены на простых принципах прозрачности, безопасности и простоты пользования, как для вас, так и для ваших покупателей.
							p Мы поддерживаем работу c банковскими картами международных платежных систем Visa и MasterCard, а также Национальной платежной системой ПРОСТІР.
						.flex-right
							img(src="./images/svg/checkout.svg", alt="Image")