//-
	Website modus operandi page markup for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.com/'
	)

block header
	+header('black-header')

block main-content
	.inner-page-wrapper.legal-page-wrapper
		.intro-block.black-intro-block
			.container
				p Порядок роботи з веб-сайтами
		.legal-page-content
			.container