/**
	Media queries for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/
	*/

@media screen and (max-width: 1200px)
	
	.inner-page-wrapper
		.intro-block
			.container
				padding: 0px 15px
			&.black-intro-block
				padding-bottom: 40px

	.news-page
		.news-page-content
			.container
				max-width: 960px
				padding: 0px 15px
				.news-list
					margin-right: 0px
					margin-left: 0px
					.news-item
						max-width: 270px

	.about-us-page
		.about-us-content
			.first-block
				.container
					max-width: 960px
					padding: 0px 15px

	.legal-page-wrapper
		.legal-page-content
			.container
				max-width: 960px
				padding: 0px 15px

@media screen and (max-width: 992px)

	.header
		height: 72px
		.container
			.header-flex
				.header-flex-left
					.menu
						display: none

	.about-us-page
		.about-us-content
			.first-block
				padding: 60px 0px 80px
				.container
					max-width: 720px

	.news-page
		.news-page-content
			padding: 60px 0px 80px
			.container
				max-width: 720px
				.news-list
					.news-item
						max-width: 300px

	.legal-page-wrapper
		.legal-page-content
			.container
				max-width: 720px
				.special-link
					padding: 20px
					span
						font-size: 18px
						line-height: 24px

	.copyright-block
		.container
			.copyright-block-content
				flex-direction: column
				.flex-left
					order: 2
					p
						line-height: 40px
				.flex-right
					order: 1
					a
						line-height: 40px

@media screen and (max-width: 767px)
	
	h1
		font-size: 32px
		line-height: 42px

	h2
		font-size: 28px
		line-height: 36px

	p
		line-height: 24px

	.action-btn
		padding-bottom: 60px

	.inner-page-wrapper
		.red-intro-block
			padding-bottom: 0px
		.black-intro-block
			padding: 0px
			.container
				p
					font-size: 32px
					line-height: 42px
					padding: 40px 0px 0px

	.about-us-page
		.about-us-content
			.first-block
				padding: 40px 0px 60px
				.container
					max-width: 540px
					
	.news-page
		.news-page-content
			padding: 40px 0px 60px
			.container
				max-width: 540px
				.news-list
					.news-item
						max-width: 100%
						margin-bottom: 40px
						padding-left: 10px
						padding-right: 10px
						margin-left: 0px
						margin-right: 0px
						.news-description
							max-height: 115px

	.legal-page-wrapper
		.legal-page-content
			.container
				max-width: 540px
				.special-link
					span
						padding-right: 15px
			&.black-page-content
				padding-bottom: 0px

	.footer
		.container
			.top-footer-block
				padding-top: 0px
				background-position: center right

	.copyright-block
		.container
			.copyright-block-content
				justify-content: center
				.flex-left
					p
						line-height: 37px
				.flex-right
					a
						display: block
						text-align: center
						line-height: 37px
						&:first-child,
						&:nth-child(2)
							padding: 0px

	@media screen and (max-width: 700px)
		
		.about-us-page
			.about-us-content
				.first-block
					.container
						.flex-block
							flex-direction: column

	@media screen and (max-width: 576px)
		
		.header
			height: 60px

		.news-page
			.news-page-content
				.container
					.news-list
						.news-item
							padding-left: 0px
							padding-right: 0px
							margin-bottom: 30px
							.news-description
								padding-top: 10px
								max-height: 105px

		.legal-page-wrapper
			.legal-page-content
				.container
					.special-link
						flex-direction: column
						align-items: flex-start
						span
							padding: 0px 0px 15px 0px

		.footer
			.container
				.top-footer-block
					.flex-left
						h2
							padding-bottom: 20px