//-
	Main layout for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

include ../mixins/_mixins
doctype html
html(lang='uk')
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		//- Meta data mixin
		block meta-data
		//- Favicons
		include ../includes/_favicons
		//- Font Awesome
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
		//- Bootstrap
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		//- Main CSS file
		link(rel="stylesheet", href="./css/main.min.css")
		//- Animate.css
		link(rel="stylesheet", href="./css/animations.css")
		//- Additional style sheets
		block extra-css
	body
		block header
		#main
			block main-content
		footer.footer
			.container
				.top-footer-block.animatedParent.animateOnce(data-sequence='500')
					h2.animated.fadeIn(data-id='1') Автоматизуйте ваші
						br
						| платежі вже сьогодні
					include ../includes/components/_start-now-btn.pug
				.bottom-footer-block
					.row.pre-menu-block.animatedParent.animateOnce(data-sequence='500')
						.col-xl-3.pre-menu-col.animated.fadeIn(data-id='1')
							a(href="/", class="site-logo-link")
								img(src="./images/logo/site-logo.png", alt="Logo")
						.col-xl-6.pre-menu-col.animated.fadeIn(data-id='1')
							p.address 04205, Оболонський проспект, 35, Київ, Україна
					.row.footer-menu
						.col-xl-3.footer-menu-col.animatedParent.animateOnce(data-sequence='200')
							p.footer-menu-title.animated.fadeIn(data-id='1') Бізнесу
							a(href="uapay-checkout", class="footer-menu-link animated fadeIn", data-id='2') UAPAY Checkout
							a(href="mass-payouts", class="footer-menu-link animated fadeIn", data-id='3') Масові платежі
							a(href="industry-solutions", class="footer-menu-link animated fadeIn", data-id='4') Галузеві рішення
						.col-xl-3.footer-menu-col.animatedParent.animateOnce(data-sequence='200')
							p.footer-menu-title.animated.fadeIn(data-id='1') Користувачу
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='2') Штрафи UAPAY
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='3') Оплата послуг
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='4') Грошові перекази
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='5') Безпечна угода
						.col-xl-3.footer-menu-col.animatedParent.animateOnce(data-sequence='200')
							p.footer-menu-title.animated.fadeIn(data-id='1') Розробникам
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='2') API
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='3') Модулі CMS
						.col-xl-3.footer-menu-col.animatedParent.animateOnce(data-sequence='200')
							p.footer-menu-title.animated.fadeIn(data-id='1') Компанія
							a(href="about-us", class="footer-menu-link animated fadeIn", data-id='2') Про нас
							a(href="news", class="footer-menu-link animated fadeIn", data-id='3') Новини
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='4') FAQ
							a(href="javascript:void(0);", class="footer-menu-link animated fadeIn", data-id='5') Партнерство
							a(href="legal-info", class="footer-menu-link animated fadeIn", data-id='6') Правова інформація
		footer.copyright-block
			.container
				.copyright-block-content
					.flex-left
						p &copy; Copyright 2020, UAPAY
					.flex-right
						a(href="terms-of-use.html") Умови надання сервісу
						a(href="cookies-policy.html") Політика роботи з cookies
						a(href="privacy-policy.html") Робота з персональними даними
		//- jQuery
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		//- Popper
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
		//- Bootstrap
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
		script(src="./js/css3-animate-it.js")
		//- Main Javascript / jQuery scripts
		script(src="./js/common.js")
		//- Additional Javascript / jQuery scripts
		block extra-js