//-
	Main layout for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

include ../mixins/_mixins
doctype html
html(lang='uk')
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		//- Meta data mixin
		block meta-data
		//- Favicons
		include ../includes/_favicons
		//- Font Awesome
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
		//- Bootstrap
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		//- CSS file with reboot styles
		link(rel="stylesheet", href="css/main.min.css")
		//- Block for additional style sheets
		block extra-css
	body
		block header
		#main
			block main-content
		div
			footer.footer
				.container
					.top-footer-block
						h2 Автоматизируйте ваши платежи уже сегодня
						include ../includes/components/_start-now-btn.pug
					.bottom-footer-block
						.row.pre-menu-block
							.col-xl-3.pre-menu-col
								a(href="javascript:void(0);", class="site-logo-link")
									img(src="./images/logo/site-logo.png", alt="Logo")
							.col-xl-6.pre-menu-col
								p.address 04205, Ukraine, Kyiv, 35 Obolonskiy Ave.
						.row.footer-menu
							.col-xl-3.footer-menu-col
								p.footer-menu-title Бизнесу
								a(href="javascript:void(0);", class="footer-menu-link") UaPay Checkout
								a(href="javascript:void(0);", class="footer-menu-link") Массовые платежи
								a(href="javascript:void(0);", class="footer-menu-link") Отраслевые решения
							.col-xl-3.footer-menu-col
								p.footer-menu-title Пользователю
								a(href="javascript:void(0);", class="footer-menu-link") Штрафы
								a(href="javascript:void(0);", class="footer-menu-link") Безопасная сделка
							.col-xl-3.footer-menu-col
								p.footer-menu-title Разработчикам
								a(href="javascript:void(0);", class="footer-menu-link") API
								a(href="javascript:void(0);", class="footer-menu-link") Модули CMS
							.col-xl-3.footer-menu-col
								p.footer-menu-title Компания
								a(href="javascript:void(0);", class="footer-menu-link") О нас
								a(href="javascript:void(0);", class="footer-menu-link") Блог
								a(href="javascript:void(0);", class="footer-menu-link") FAQ
								a(href="javascript:void(0);", class="footer-menu-link") Партнерство
								a(href="javascript:void(0);", class="footer-menu-link") Правовая информация
			footer.copyright-block
				.container
					.copyright-block-content
						.flex-left
							p &copy; Copyright 2020, UAPAY
						.flex-right
							a(href="") Terms of Use
							a(href="") Cookies Policy
							a(href="") Privacy Policy
		//- jQuery
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		//- Popper
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
		//- Bootstrap
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
		//- Main Javascript / jQuery scripts
		script(src="js/common.js")
		//- Additional Javascript / jQuery scripts
		block extra-js