/**
	Main layout styles for the UaPay website project
	Version: 1.0
	Created: 30.11.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/
	*/

.main-container
	max-width: 1000px
	padding: 0px

.inner-page-wrapper
	.intro-block
		.container
			max-width: 1000px
			padding: 0px
			h1
				color: $corporate-white
				text-align: center
			p
				color: $corporate-white
				font-family: $primary-bold
				font-weight: $bold-weight
				font-size: 36px
				line-height: 48px
				text-align: center
				padding: 0px
	.red-intro-block
		background-color: $corporate-red
		padding: 0px 0px 40px
	.black-intro-block
		background-color: $corporate-black
		padding: 40px 0px 80px